# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
venv/
.venv/

# LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz
*.blg
*.bbl

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db